
.app-header {
  background-color: var(--dark-secondary);

  padding: 10px 35px 10px 25px; 
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
}
.header-left { }
.header-right {  }
.app-title {
  font-size: 1.6em;
  font-weight: bold;
  color: var(--primary-color); 
}

